%h1 Eton College Medical Society

- @etonmedicals.each do |etonmedical|
  .row-fluid
    .span10.offset1.oemsevent
      %h3= etonmedical.title
      %h4= etonmedical.date.to_s :oems_standard
      %h5 Venue: #{etonmedical.venue}
      - unless etonmedical.etonmedicalimgs.empty?
        = render partial: 'carousel', locals: { :images => etonmedical.etonmedicalimgs }
      %p=raw etonmedical.customhtml
      %p=raw etonmedical.content