%h1 Events

- @eventitems.each do |eventitem|
  .row-fluid
    .span10.offset1.oemsevent
      %h3= eventitem.title
      %h4= eventitem.date.to_s :oems_standard
      %h5 Venue: #{eventitem.venue}
      %p=raw eventitem.content