.homepagetitle
  %h1 The Old Etonian Medical Society
  %h2 OEMS
.container-fluid
  .row-fluid
    %a{href: "/about", target: "_self"}
    .pagination-centered
      = link_to image_tag("OEMS.png"), "/about"