%h1 Latest News

- @newsitems.each do |newsitem|
  .row-fluid
    .span10.offset1.oemsnews
      %h3= newsitem.title
      %h4= newsitem.date.to_s :oems_standard
      %p=raw newsitem.customhtml
      %p=raw newsitem.content
      %h6 #{[newsitem.committee.title, newsitem.committee.firstname, newsitem.committee.surname, newsitem.committee.position].to_sentence(:words_connector => " ", :last_word_connector => ", ")}