/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 *= require bootstrap-responsive.min.css
 *= require shadowbox.css
 *= require scaffolds.css
 *= require home.css
 *= require_self
 */

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 950px;
}

p a:link {color:#0088CC;}
p a:hover, a:focus { 
color: #0088CC;
text-decoration: underline;
}

.navbar .nav > .li > a:hover, .navbar .nav > li > a:focus {
  color: #96c8a2;
}

.thumb {
    margin:25px;
    padding:10px;
    border-color:transparent;
}

.oemsevent, .oemsnews {
    border-bottom: 3px solid #96c8a2;
    padding-bottom: 15px;
}

.photoslideshow {
    margin-right: auto;
    margin-left: auto;
    max-width: 850px;
    position: center;
}

body {
    font-family:Arial;
    background: url('./bg.jpg') #eee;
    margin:0px;
    font-size:15px;
    line-height:21px;
    color:#333;
}

header {
    margin-bottom:20px;
    padding:20px 30px;
    background:#E8F3F8;
    position:relative;
    border-radius:15px;
}

header img {
    /*float:right; - Easy way */ 
    position:absolute;
    top:0px;
    right:0px;
    padding:0px 0px 0px 0px;
    background: url('./bg.jpg') #eee;
}

h1 {
    font-weight:bold;
    font-size:30px;
    margin-top:0px;
    margin-bottom:10px;
}

h2 {
    font-weight:normal;
    font-size:25px;
    line-height:25px;
    margin:0px;
    padding-bottom:15px;
}

h2+p {
    margin-top:10px;
}

h3 {
    font-weight:normal;
    font-size:20px;
    line-height:20px;
    margin:30px 0px 0px 0px;
}

h2+h3 {
    margin-top:20px;
}

h3+p {
    margin-top:10px;
}

p {
    margin:10px 0px 10px 00px;
}