!!!
%html{lang: "en-GB"}
  %head
    %title The Old Etonian Medical Society
    = stylesheet_link_tag    "application"
  %body
    .container-fluid
      .navbar
        .navbar-inner
          .container
            %a.brand{href: "/"} Home
            %ul.nav.pull-left
              %li.divider-vertical
              %li
                %a{href: "/about"} About
              %li.divider-vertical
              %li
                %a{href: "/news"} News
              %li.divider-vertical
              %li
                %a{href: "/events"} Events
              %li.divider-vertical
              %li
                %a{href: "/committee"} Committee
            %ul.nav.pull-right
              %li
                %a{href: "/contact", rel: "shadowbox;width=400;height=380"} Contact
              %li.divider-vertical
              %li
                %a{href: "/members"} Members' Database
      = yield
  = javascript_include_tag "application", "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js", "shadowbox"
  :javascript
    Shadowbox.init();